{% extends "profile_templates/profile.html" %}
{% load ratings_extras %}
{% block info %}
    Просмотренные цитаты с возможностью оценить или поменять оценку.
    <ul>
    {% for quote in quotes %}
        <li>
            <blockquote>{{ quote.quote }}</blockquote>
            <p><strong>Источник:</strong> {{ quote.source.name }} ({{ quote.source.type }})</p>
            <p>Добавил: {{ quote.author.username }}</p>
            <small>👁 {{ quote.views }}</small>
            <div id="rating-buttons-{{ quote.id }}">
            <button class="like-btn {% if top_ratings|get_rating:quote.id|default:0 == 1 %}active{% endif %}" onclick="rateQuote({{ quote.id }}, 1)">
                👍 <span id="like-count-{{ quote.id }}">{{ quote.likes }}</span>
            </button>
            <button  class="dislike-btn {% if top_ratings|get_rating:quote.id|default:0 == -1 %}active{% endif %}" onclick="rateQuote({{ quote.id }}, -1)">
                👎 <span id="dislike-count-{{ quote.id }}">{{ quote.dislikes }}</span>
            </button>

            </div>
        </li>
    {% empty %}
        <li>Вы пока не просмотрели ни одной цитаты.</li>
    {% endfor %}
    </ul>
    <script>
    function rateQuote(quoteId, value){
        fetch("{% url 'rate_quote' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify({
            quote_id: quoteId,
            value: value
        })
    })
    .then(response => {
        if (!response.ok) {
            return response.json().then(err => Promise.reject(err));
        }
        return response.json();
    })
    .then(data => {
        document.getElementById(`like-count-${quoteId}`).textContent = data.likes;
        document.getElementById(`dislike-count-${quoteId}`).textContent = data.dislikes;

        const likeBtn = document.querySelector(`#rating-buttons-${quoteId} .like-btn`);
        const dislikeBtn = document.querySelector(`#rating-buttons-${quoteId} .dislike-btn`);
        likeBtn.classList.remove("active");
        dislikeBtn.classList.remove("active");

        if (data.current_vote === 1) {
            likeBtn.classList.add("active");
        } else if (data.current_vote === -1) {
            dislikeBtn.classList.add("active");
        }
    })
    .catch(error => {
        console.error("Ошибка с сервера:", error); // <--- ВАЖНО
        const errorDiv = document.getElementById('rating-error-message');
        if (error && error.error) {
            errorDiv.textContent = error.error;
            errorDiv.style.display = 'block';
        } else {
            errorDiv.textContent = "Неизвестная ошибка.";
        }

        setTimeout(() => {
            errorDiv.style.display = 'none';
        }, 5000);
    });
    }

    </script>
{% endblock %}