{% extends 'index.html' %}

{% block title %}Add Quote{% endblock %}

{% block content %}
    <div class="form-glass">
    <h2 class="h2-add">Добавить цитату</h2>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" style="list-style: none; color: darkslateblue; margin-top: 10px;" {% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    
        <form id="add_quote_form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Добавить цитату</button>
        </form>
    </div>

{% endblock %}