{% extends 'index.html' %}

{% block title %}Add Quote{% endblock %}

{% block content %}
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" style="list-style: none; color: darkslateblue; margin-top: 10px;" {% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <form id="add_quote_form" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="add">Добавить</button>
    </form>
{% endblock %}