{% extends 'index.html' %}

{% block content %}
    <h2>Самые популярные цитаты за все время</h2>
    <ul>
    {% for quote in quotes %}
        <li>
            <blockquote>{{ quote.quote }}</blockquote>
            <p><strong>Источник:</strong> {{ quote.source.name }} ({{ quote.source.type }})</p>
            <p>Добавил: {{ quote.author.username }}</p>
            <p>👍 {{ quote.likes }} | 👎 {{ quote.dislikes }} | 👁 {{ quote.views }}</p>
        </li>
    {% empty %}
        <li>Нет цитат</li>
    {% endfor %}
</ul>
{% endblock %}