{% extends 'index.html' %}

{% block title %}Add Quote{% endblock %}

{% block content %}
    <h1>THIS IS THE PAGE TO ADD NEW QUOTES</h1>
    <form id="add_quote_form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
{#        <label for="quote">#}
{#            Enter the quote here:#}
{#            <input type="text" id="quote" name="quote"/>#}
{#        </label>#}
{#        <label for="quote_source">#}
{#            Enter the source of your quote (book, movie, etc.) here:#}
{#            <input type="text" id="quote_source" name="source">#}
{#        </label>#}
{#        <label for="prob_rate">#}
{#            Enter the probability rate for your quote below (bigger number will show your quote more often):#}
{#            Default probability for the quote is 0.01 (?)#}
{#            <input id="prob_rate" type="number" name="prob_rate"/>#}
{#        </label>#}
        <button type="submit" class="add">Add</button>
    </form>
{% endblock %}